@font-face {
  font-family: "SavedState";
  src: url("/assets/fonts/851Gkktt_005.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
  background: radial-gradient(circle at 50% 50%, #0c073a 31.16%, #000 100%);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(30vh);

  font-family: "SavedState";
  font-size: 5em;
  color: white;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(27vh);

  font-family: "SavedState";
  font-size: 2.5em;
  color: white;
}

.start-btn {
  display: block;
  margin: 0 auto;
  transform: translateY(27vh);

  border-radius: 20px;
  border-color: white;
  background-color: transparent;

  color: white;
  font-family: "SavedState";
  font-size: 3em;
}